/* Index Page */
*{
  margin: 0;
  padding: 0;
}



header, footer, .labels{
  min-height: 3em;
  text-align: center;
}

body{
  background-image: linear-gradient(to bottom, #ff6666, #ffffff);
  background-repeat: no-repeat;
}



.nav{
  margin-top: 2em;
  width: 100%;
  background-color: #333333;
  margin-bottom: 1em;
  color: #ffffff;
  position: sticky; 
  top: 0;
}

ul{
  display:flex;
  list-style-type: none;



}

ul li a{
  padding: 25px 35px;
  float:left;
  text-align: center;
  text-decoration: none;
  color: inherit;
  flex: 40%;
  font-size: 1.5em;
  font-family: helvetica, sans-serif;

}

ul li a:hover{
  background-color: #c0c0c0;
  color: #000000;
}



.info{
  background-color: #555555;
  color: #ffffff;
  margin-top: 1em;
  padding: 1em;
}


.main{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 80%;
  padding: .3em 1em;
  line-height: 3em;
  font-family: arial, sans-serif;
  font-size: 1.2em;
  background-color: #c0c0c0;
}



.imgBox{
  display: flex;
  height: 40%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 1em;
  align-items: inherit;
  padding-bottom: 2em;

}

img{
  width: 33%;
  height: 30%;
  
}

