body{
	background-color:#933a16;
	color: #000000;
}


h1{
text-align: center;
font-family: castellar, serif;
}

.question{
	font-family: impact, "sans serif";
}

.state{
	font-family: georgia, serif;
}

img{
	position: relative;
	float: right;
	margin-right: 300px;
	border-width: 5px;
	border-style: solid;
	border-color: #c0c0c0;
}
	

